---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";
import Gitalk from "./Gitalk.astro";
import Twikoo from "./Twikoo.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { id, data, slug } = Astro.props.post;

const path = `/posts/${slug}`;
const url = `${Astro.site?.href}${path}`;
---

{commentConfig?.enable && (
  <div class="card-base p-6 mb-4">
    {commentConfig.enable === 'twikoo' && <Twikoo path={path} />}
    {commentConfig.enable === 'gitalk' && <Gitalk post={Astro.props.post} />}
  </div>
)}
